<div *ngIf="loadingIndicator" class="fullscreen-loader d-none">
  <div class="loader-spinner"></div>
  <div class="loader-text">Loading, please wait...</div>
</div>
<nav class="navbar navbar-light navbar-expand-lg mb-4 mt-md-5 topMargin">
  <div class="container-fluid">
    <div class="w-100 text-center py-1 promo-banner">
      <strong class="blinking-text">
        
        <a class="w-100 d-block text-decoration-none" (click)="openSampleInstructions()"
          style="cursor: pointer; margin-left: 0.8rem;">
          <span class="badge bg-info text-dark m-2 p-3 fs-5" style="background: #ff9219 !important;">
            Address for Sending Samples
          </span>
        </a>
      </strong>
    </div>

    <button class="navbar-toggler bg-light" type="button" (click)="toggleNavbar()" aria-controls="navbarNav"
      [attr.aria-expanded]="isNavbarCollapsed ? 'false' : 'true'" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]="{'collapse': isNavbarCollapsed, 'navbar-collapse': true}" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 bg-transparent">

        <!-- Bookings -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom-nav-link" id="bookingsDropdown" data-bs-toggle="dropdown"
            role="button" aria-expanded="false" style="cursor: pointer;">
            <span style="border-bottom:1px solid #ef7d00;">Bookings</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="bookingsDropdown">
            <li><a class="dropdown-item custom-dropdown-item" [routerLink]="['/NewBookings']"
                (click)="isNavbarCollapsed = true">New Booking</a></li>
            <li><a class="dropdown-item custom-dropdown-item" [routerLink]="['/ViewBookings']"
                (click)="isNavbarCollapsed = true">My Bookings</a></li>
          </ul>
        </li>

        <!-- Payments -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom-nav-link" id="paymentsDropdown" data-bs-toggle="dropdown"
            role="button" aria-expanded="false" style="cursor: pointer;">
            <span style="border-bottom:1px solid #ef7d00;">Payments</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="paymentsDropdown">
            <li><a class="dropdown-item custom-dropdown-item" [routerLink]="['/SearchPayments']"
                (click)="isNavbarCollapsed = true">View All Paid</a></li>
            <li><a class="dropdown-item custom-dropdown-item" [routerLink]="['/SearchPendingPayments']"
                (click)="isNavbarCollapsed = true">View All Pending</a></li>
            <li><a class="dropdown-item custom-dropdown-item" [routerLink]="['/FailedPayments']"
                (click)="isNavbarCollapsed = true">View All Failed</a></li>
          </ul>
        </li>

        <!-- Status -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom-nav-link" id="statusDropdown" data-bs-toggle="dropdown"
            role="button" aria-expanded="false" style="cursor: pointer;">
            <span style="border-bottom:1px solid #ef7d00;">Status</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="statusDropdown">
            <li><a class="dropdown-item custom-dropdown-item" [routerLink]="['/SampleStatus']"
                (click)="isNavbarCollapsed = true">Samples</a></li>
            <li><a class="dropdown-item custom-dropdown-item" [routerLink]="['/BookingStatus']"
                (click)="isNavbarCollapsed = true">Test Status</a></li>
            <li><a class="dropdown-item custom-dropdown-item" [routerLink]="['/UploadProofStatus']"
                (click)="isNavbarCollapsed = true">Proof Uploads</a></li>
          </ul>
        </li>

        <!-- Results -->
        <li class="nav-item">
          <a class="nav-link custom-nav-link" style="cursor: pointer;" [routerLink]="['/BookingResult']"
            (click)="isNavbarCollapsed = true">Results</a>
        </li>

        <!-- Upload MOU (Conditional) -->
        <li class="nav-item" *ngIf="UserRole === '400001' || UserRole === '400002'">
          <a class="nav-link custom-nav-link" style="cursor: pointer;" [routerLink]="['/UserCIFMou']"
            (click)="isNavbarCollapsed = true">Upload MOU</a>
        </li>

        <!-- My Profile (Conditional) -->
        <!-- <li class="nav-item" *ngIf="UserRole !== '400000'">
          <a class="nav-link custom-nav-link" style="cursor: pointer;" [routerLink]="['/UserProfiles']"
            (click)="isNavbarCollapsed = true">My Profile</a>
        </li> -->

        <!-- Feedback -->
        <li class="nav-item">
          <a class="nav-link custom-nav-link" style="cursor: pointer;" [routerLink]="['/FeedbackForm']"
            (click)="isNavbarCollapsed = true">Feedback</a>
        </li>

        <!-- Logout -->
        <li class="nav-item">
          <a class="nav-link custom-nav-link" style="cursor: pointer;" (click)="LogoutUser()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 



<div class="text-center mt-4">
  <h2 class="mb-0 text-center mb-4">Central Instrumentation Facility</h2>
</div>
<div class="container-fluid  mt-4 ">
  <div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row d-flex justify-content-around">
            <label class="col-md-6 form-label " style="font-weight: 700;">User Name
            </label>
            <label class="col-md-6 form-label text-dark  "
              style="text-align: right; font-weight: 700;">{{this.candidateName}} </label>
          </div>
         
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin ">
      <div class="card">
        <div class="card-body">
          <h3 class="text-success text-center ">CIF User Dashboard </h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row d-flex justify-content-around">
            <label class="col-md-5 form-label  " style="font-weight: 700;">Department
              Name</label>
            <label class="col-md-7 form-label text-dark " style="text-align: right;font-weight: 700;">
              {{this.departmentName}}
            </label>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>